doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet')
    link(rel='stylesheet' href='css/natours-css.css')
    link(rel='shortcut icon' type='image/png' href='img/favicon.png')
    title Natours | Exciting tours for adventurous people
  body 
    .navigation
      input#navi-toggle.navigation__checkbox(type='checkbox')
      label.navigation__button(for='navi-toggle')
        span.navigation__icon &nbsp;
      .navigation__background &nbsp;
      nav.navigation__nav
        ul.navigation__list
          li.navigation__item
            a.navigation__link(href='#section-about' onclick="document.getElementById('navi-toggle').checked = false")
              span 01
              |  About Natours
          li.navigation__item
            a.navigation__link(href='#section-features' onclick="document.getElementById('navi-toggle').checked = false")
              span 02
              | Your benifits
          li.navigation__item
            a.navigation__link(href='#section-tour' onclick="document.getElementById('navi-toggle').checked = false")
              span 03
              | Popular tours
          li.navigation__item
            a.navigation__link(href='#section-stories' onclick="document.getElementById('navi-toggle').checked = false")
              span 04
              | Stories
          li.navigation__item
            a.navigation__link(href='#section-book' onclick="document.getElementById('navi-toggle').checked = false")
              span 05
              | Book now
    header.header
      .header__logo-box
        img.header__logo(src='img/logo-white.png' alt='logo')
      .header__text-box
        h1.heading-primary
          span.heading-primary__text.heading-primary__text--main Outdoors
          span.heading-primary__text.heading-primary__text--sub is where life happens
        a.btn.btn--white.btn--animated(href='/overview') Discover Our tours
    main
      section.section-about
        #section-about.u-text-center.u-margin-bottom-big
          h2.heading-secondary Exited tours for adventurous people
        .row
          .col-1-of-2
            h3.heading-tertiary.u-margin-bottom-small You&apos;re going to fall in love with nature
            p.paragraph
              | Our tours are meticulously crafted to immerse you in the breathtaking beauty and serenity of the natural
              | world. From lush forests to cascading waterfalls, from majestic mountains to pristine beaches, let us
              | guide you on an unforgettable adventure where you&apos;ll discover the true essence of Mother Earth. Get ready
              | to fall head over heels in love with nature all over again
            h3.heading-tertiary.u-margin-bottom-small Live adventures like you never have before
            p.paragraph
              | Experience the thrill of adventure like never before with our exhilarating tours. Get ready to push your
              | boundaries and embrace the unknown as we take you on adrenaline-fueled journeys into the heart of the
              | wilderness. Whether it&apos;s scaling towering peaks, traversing rugged terrains, or diving into uncharted
              | waters, our expert guides will ensure you embark on unforgettable escapades
 
          .col-1-of-2
            .composition
              img.composition__photo.composition__photo--p1(srcset='img/nat-1.jpg 300w, img/nat-1-large.jpg 1000w' sizes='(max-width: 37.5em) 22vw,(max-width: 56.25) 30vw, 300px' src='img/nat-1-large.jpg' alt='Photo 1')
              img.composition__photo.composition__photo--p2(srcset='img/nat-2.jpg 300w, img/nat-2-large.jpg 1000w' sizes='(max-width: 37.5em) 22vw,(max-width: 56.25) 30vw, 300px' src='img/nat-2-large.jpg' alt='Photo 2')
              img.composition__photo.composition__photo--p3(srcset='img/nat-3.jpg 300w, img/nat-3-large.jpg 1000w' sizes='(max-width: 37.5em) 22vw,(max-width: 56.25) 30vw, 300px' src='img/nat-3-large.jpg' alt='Photo 3')
              //
                <img src="img/nat-1-large.jpg" alt="Photo 1" class="composition__photo composition__photo--p1" />
                <img src="img/nat-2-large.jpg" alt="Photo 2" class="composition__photo composition__photo--p2" />
                <img src="img/nat-3-large.jpg" alt="Photo 3" class="composition__photo composition__photo--p3" />
      section.section-features
        #section-features.row
          .col-1-of-4
            .feature-box
              i.feature-box__icon.icon-basic-world
              h3.u-margin-bottom-small.heading-tertiary Explore the world
              p.feature-box__text
                | Discover the world&apos;s wonders with us. Join our expert-led expeditions to unlock hidden treasures and
                | immerse yourself in diverse cultures.
          .col-1-of-4
            .feature-box
              i.feature-box__icon.icon-basic-compass
              h3.u-margin-bottom-small.heading-tertiary Meet nature
              p.feature-box__text
                | Encounter the beauty of the natural world firsthand on our immersive tours. Let&apos;s meet nature and embark
                | on unforgettable adventures together.
          .col-1-of-4
            .feature-box
              i.feature-box__icon.icon-basic-map
              h3.u-margin-bottom-small.heading-tertiary Find your way
              p.feature-box__text
                | Discover your path to adventure. Explore new horizons, unlock hidden treasures, and find your way with
                | our expertly guided tours
          .col-1-of-4
            .feature-box
              i.feature-box__icon.icon-basic-heart
              h3.u-margin-bottom-small.heading-tertiary Live a healthir life
              p.feature-box__text
                | Transform your life with vitality. Join our wellness-focused tours and embrace a healthier lifestyle.
      section.section-tour
        #section-tour.u-text-center.u-margin-bottom-big
          h2.heading-secondary Most popular tours
        .row
          .col-1-of-3
            .card
              .card__side.card__side--front
                .card__picture.card__picture--1 &nbsp;
                h4.card__heading
                  span.card__heading-span.card__heading-span--1 The sea explorer
                .card__details
                  ul
                    li 3 day tours
                    li Up to 30 people
                    li 2 tour guides
                    li Sleep in cozy hotels
                    li Difficulty: easy
              .card__side.card__side--back.card__side--back-1
                .card__cta
                  .card__price-box
                    .card__price-only Only
                    .card__price-value $297
                  a.btn.btn--white(href='tour/the-sea-explorer') Book now!
          .col-1-of-3
            .card
              .card__side.card__side--front
                .card__picture.card__picture--2 &nbsp;
                h4.card__heading
                  span.card__heading-span.card__heading-span--2 The forest hiker
                .card__details
                  ul
                    li 7 day tours
                    li Up to 40 people
                    li 6 tour guides
                    li Sleep in provided tents
                    li Difficulty: medium
              .card__side.card__side--back.card__side--back-2
                .card__cta
                  .card__price-box
                    .card__price-only Only
                    .card__price-value $497
                  a.btn.btn--white(href='tour/the-forest-hiker') Book now!
          .col-1-of-3
            .card
              .card__side.card__side--front
                .card__picture.card__picture--3 &nbsp;
                h4.card__heading
                  span.card__heading-span.card__heading-span--3 The snow adventurer
                .card__details
                  ul
                    li 5 day tours
                    li Up to 15 people
                    li 3 tour guides
                    li Sleep in provided tents
                    li Difficulty: hard
              .card__side.card__side--back.card__side--back-3
                .card__cta
                  .card__price-box
                    .card__price-only Only
                    .card__price-value $997
                  a.btn.btn--white(href='tour/the-snow-adventurer') Book now!
        .u-text-center.u-margin-top-big
          a.btn.btn--green(href='/overview') Discover all tours
      section#section-stories.section-stories
        .bg-video
          img.bg-video__content(src="img/nat-7.jpg", alt="background pic")
        .u-text-center.u-margin-bottom-big
          h2.heading-secondary We make people genuinely happy!
        .story-box.row
          .story
            figure.story__shape
              img.story__img(srcset='img/nat-8.jpg 500w, img/nat-8-min.jpg 1000w' sizes='(max-width: 37.5em) 22vw,(max-width: 56.25) 30vw, 1000px' src='img/nat-8.jpg' alt='person on tour image')
              figcaption.story__caption Mary Smith
            .story__text
              h2.heading-tertiary.u-margin-bottom-small I had the best week ever with my family
              p.paragraph
                | I had the best week ever with my family, thanks to these incredible tours. From the moment we embarked
                | on our adventure, every experience was filled with joy, laughter, and togetherness. Whether we were
                | exploring captivating landmarks, indulging in delicious local cuisine, or simply enjoying each other&apos;s
                | company, every moment was precious.
        .story-box.row
          .story
            figure.story__shape
              img.story__img(srcset='img/nat-9.jpg 500w, img/nat-9-min.jpg 1000w' sizes='(max-width: 37.5em) 22vw,(max-width: 56.25) 30vw, 1000px' alt='person on tour image')
              figcaption.story__caption Jack Wilson
            .story__text
              h2.heading-tertiary.u-margin-bottom-small WOW! My life is completely defferent now
              p.paragraph
                | Thanks to the transformative experiences offered by these tours, I&apos;ve discovered a newfound sense of
                | purpose and perspective. From breathtaking landscapes to immersive cultural encounters, each moment has
                | left an indelible mark on my soul.
      section#section-book.section-book
        .book-box.row
          .book
            .book__form
              .u-margin-bottom-medium
                h2.heading-secondary Login to start booking
              form.form.form--login
                .form__group
                  input#email.form__input(type='email', placeholder='Email address', required)
                  label.form__label(for='email') Email address
                .form__group
                  input#password.form__input(type='password', placeholder='Password', required, minlength='8')
                  label.form__label(for='password') Password
                .form__group.u-margin-bottom-medium
                .form-group
                  button.btn.btn--green#loginBtn Login
    footer#section-footer.footer
      .footer__logo-box
        picture.footer__logo
          source(srcset='img/logo-green-small-1x.png 1x, img/logo-green-small-2x.png 2x' media='(max-width: 37.5em)')
          img(srcset='img/logo-green-1x.png 1x, img/logo-green-2x.png 2x' src='img/logo-green-2x.png' alt='Full logo')
        // <img srcset="img/logo-green-1x.png 1x, img/logo-green-2x.png 2x" alt="Full logo" class="footer__logo" />
      .row
        .col-1-of-2
          .footer__navigation
            ul.footer__list
              li.footer__item
                a.footer__link(href='#') Company
              li.footer__item
                a.footer__link(href='#') Contact us
              li.footer__item
                a.footer__link(href='#') carrers
              li.footer__item
                a.footer__link(href='#') Privacy policy
              li.footer__item
                a.footer__link(href='#') Terms
        .col-1-of-2
          p.footer__copyright
            | Built by 
            a.footer__link(href='#') Ashok choudhary
            | . Copyright &copy; by Ashok Choudhary. Lorem
            |             ipsum dolor sit amet, consectetur adipisicing elit. Magni iure maiores, adipisci iusto officia quos
            |             similique molestias labore eius magnam.

  script(src='/js/bundled/index.js') ;
  script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js' type='module')